---
import Leaflet from '../components/Leaflet.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<section class="text-black flex items-center h-[600px]">
			<div>
				<h1 class="text-7xl font-bold max-w-[700px] mr-2 tracking-wider">
					Tu próximo trabajo, más cerca de lo que pensás
				</h1>
				<button class="flex mt-6 items-center bg-red-500 px-4 py-2 rounded-lg gap-2 text-lg font-semibold text-white">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
						<path d="M7 11l5 5l5 -5"></path>
						<path d="M12 4l0 12"></path>
					</svg>
					Descargar Cuchiflu
				</button>
			</div>
			<div class="w-full">
				<Leaflet
					container="leafletmap"
					latitude="-34.6035887474444"
					longitude="-58.38158113199385"
					zoom="15"
					tileLayer="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
					attribution="&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
					markers={JSON.stringify([
						{
							"lat": "-34.6037",
							"lon": "-58.3816",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6028",
							"lon": "-58.382",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.603",
							"lon": "-58.3792",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.605",
							"lon": "-58.3804",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6039",
							"lon": "-58.3812",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.601",
							"lon": "-58.3786",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.604",
							"lon": "-58.3785",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6025",
							"lon": "-58.3789",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6037",
							"lon": "-58.3796",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6051",
							"lon": "-58.3825",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6034",
							"lon": "-58.3787",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6026",
							"lon": "-58.3809",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6047",
							"lon": "-58.3799",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6055",
							"lon": "-58.381",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6015",
							"lon": "-58.3818",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6043",
							"lon": "-58.3828",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6047",
							"lon": "-58.3797",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6035",
							"lon": "-58.3789",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6019",
							"lon": "-58.3809",
							"content": "example content here with number type"
						},
						{
							"lat": "-34.6056",
							"lon": "-58.3783",
							"content": "example content here with number type"
						}
					])}
				/>
			</div>
				
		</section>
	</main>
</Layout>
