
<header class="w-full bg-white sticky top-0 mb-2">
  <nav class="flex justify-between py-8 max-w-[1375px] mx-auto items-center">
    <ul class="flex gap-x-8 items-center">
      <li>
        <a href="/" class="font-extrabold text-xl">CUCHIFLU</a>
      </li>
      <li>
        <a href="#comercios" class="text-xl">Para comercios</a>
      </li>
      <li>
        <a href="#perfiles" class="text-xl">Perfiles</a>
      </li>
      <li>
        <a href="#testimonios" class="text-xl">Testimonios</a>
      </li>
    </ul>
    <a href="https://comercios.bubajobs.com.ar/" class="text-red-500 font-semibold flex gap-2">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler items-center icon-tabler-building-store" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 21l18 0"></path>
          <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"></path>
          <path d="M5 21l0 -10.15"></path>
          <path d="M19 21l0 -10.15"></path>
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"></path>
        </svg>
      </span>
      Mi comercio
    </a>
  </nav>
</header>